.report-info-container {
  background-color: transparent;
  padding: 20px;
}
.author-info, .report-sim-info, .action-button {
  padding: 0px 10px 20px 10px;
  margin-bottom: 5px;
}
.divider{
  height: 80%;
  width:1px;
  background-color: #9B9B9B;
}
// author
.author-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-info-right{
  float: right;
  display: inline-block;
}
.author-info-left{
  float:left;
  display: inline-block;
}
.author-name{
  font-family: HelveticaNeue-Bold;
  font-size: 20px;
  color: #000000;
  display: block;
  margin-bottom: 5px;
  //white-space:nowrap;
}
// report
.report-title{
  display: block;
  font-family: HelveticaNeue-Bold;
  font-size: 23px;
  color: #000000;
  display: block;
  margin-bottom: 5px;
}
.report-abstract{
  p{
    font-family: Helvetica;
    color:#333333;
    font-size: 13px;
  }
}
.report-label{
  font-family: HelveticaNeue-Bold;
  font-size: 10px;
}
.num{
  color:#B1B1B1;
  font-size: 10px;
}
.action-button{
  background-color: #F2F2F2;
  border-radius: 10px;
  margin:0px 10px 10px 10px;
  button{
    display: inline;
    margin: 20px 20px 0px 20px;
  }
}
