<div class="stepBarMain">

  <nz-tabset [nzSize]="'large'" [nzTabBarGutter]="5">

    <nz-tab nzTitle="&nbsp;&nbsp;&nbsp;&nbsp;Step&nbsp;&nbsp;&nbsp;&nbsp;">

      <div nz-row>
        <div nz-col nzSpan="18" nzOffset="1">
          <nz-input-group nzSuffixIcon="anticon anticon-search">
            <input type="text" nz-input placeholder="Input search steps">
          </nz-input-group>
        </div>
        <div nz-col nzSpan="4" >
            <i class="anticon anticon-plus-circle-o dynamic-button-step-bar" (click)="showStepModel()"></i>
        </div>
      </div>

      <div class="stepBarList">
        <!-- 这里是 step 和 process 的列表部分 -->
        <nz-list [nzDataSource]="steps" [nzItemLayout]="'horizontal'"
          nzSize="small" [nzRenderItem]="item">
          <ng-template #item let-item>
            <nz-list-item>
              <div (click)="addSteps(item.id)">
                <img class="stepBarListIco" [src]="item.ico"/>
                <span class="stepBarListName">{{item.name}}</span>
              </div>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </nz-tab>


    <nz-tab nzTitle="Protocol">

      <div nz-row>
        <div nz-col nzSpan="18" nzOffset="1">
          <nz-input-group nzSuffixIcon="anticon anticon-search">
            <input type="text" nz-input placeholder="Input search protocol">
          </nz-input-group>
        </div>
        <div nz-col nzSpan="4" >
            <i class="anticon anticon-plus-circle-o dynamic-button-step-bar" (click)="showProcessModel()"></i>
        </div>
      </div>
        
      <div class="stepBarList">
      <!-- 这里是 step 和 process 的列表部分 -->
      <nz-list [nzDataSource]="subs" [nzItemLayout]="'horizontal'" nzSize="small" [nzRenderItem]="item1">
          <ng-template #item1 let-item>
            <nz-list-item>
              <div (click)="addSubs(item.id)">
                <span class="stepBarListName">{{item.name}}</span>
              </div>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </div>
    </nz-tab>
  </nz-tabset>
</div>

<nz-modal [(nzVisible)]="isVisibleStep" nzTitle="New Step" (nzOnCancel)="handleCancelStep()" (nzOnOk)="handleOkStep()">
  <form nz-form>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" >Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input  [(ngModel)]="tempNewStepName" [ngModelOptions]="{standalone: true}" maxlength="13" minlength="1"/>
      </nz-form-control>
    </nz-form-item>
    

    <nz-form-item *ngFor="let temp of tempNewStepTemp;let i = index">
        <nz-form-label [nzSpan]="6" >Template</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input style="width: 100%; margin-right:8px;" [(ngModel)]="tempNewStepTemp[i].value" [ngModelOptions]="{standalone: true}"/>
        </nz-form-control>
        <div nz-col [nzSpan]="2">
          <i class="anticon anticon-minus-circle-o dynamic-button-step-list-bar" (click)="removeFieldStep(i)"></i>
        </div>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzXs]="{span:14,offset:6}" [nzSm]="{span:14,offset:6}">
          <button nz-button nzType="dashed" style="width:100%" (click)="addFieldStep()">
            <i class="anticon anticon-plus"></i> Add field
          </button>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="6">Yield</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <textarea nz-input [(ngModel)]="tempNewStepField" [ngModelOptions]="{standalone: true }"></textarea>
      </nz-form-control>
    </nz-form-item >
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="isVisibleProcess" nzTitle="New Protocol" (nzOnCancel)="handleCancelProcess()" (nzOnOk)="handleOkProcess()">
  <form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" >Name</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input  [(ngModel)]="tempNewProcessName" [ngModelOptions]="{standalone: true}" maxlength="15" minlength="1"/>
    </nz-form-control>
  </nz-form-item>

  <!-- <nz-form-item>
    <nz-form-label [nzSpan]="6" >Value</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <textarea nz-input  [(ngModel)]="tempNewProcessValue" [ngModelOptions]="{standalone: true}"> </textarea>
    </nz-form-control>
  </nz-form-item> -->

  <div nz-row>
    <div nz-col nzSpan="10" class="left_new_process_bar">
        <nz-list [nzDataSource]="steps" nzBordered nzSize="small"
           [nzRenderItem]="item3">
          <ng-template #item3 let-item>
            <nz-list-item [nzContent]="item.name" (click)="addStepInSub(item.id)"></nz-list-item>
          </ng-template>
        </nz-list>
    </div>

    <div nz-col nzSpan="4" >
        <i class="anticon anticon-swap left_new_process_bar" style="width: 100%;"></i>
    </div>

    <div nz-col nzSpan="10" >
        <nz-list [nzDataSource]="tempNewProcessSteps" nzBordered nzSize="small"
           [nzRenderItem]="item4">
          <ng-template #item4 let-item><nz-list-item [nzContent]="getStepNameById(item)"></nz-list-item></ng-template>
        </nz-list>
    </div>
  </div>

  </form>
</nz-modal>