<div nz-row class="d-bk">
  <div nz-col nzSm="24" nzXs="24" [nzMd]="{span:22,offset:1}"
       [nzLg]="{span:22, offset:1}" [nzXl]="{span:20, offset:2}"
       [nzXXl]="{span:20, offset:2}" class="report-container">

    <div nz-col nzSm="24" nzXs="24" nzMd="24"
         nzLg="0" nzXl="0" nzXXl="0">

      <app-report-author-info [isMyself]="false" [user]="report?.author" [report]="report"></app-report-author-info>

    </div>

    <!-- right part -->
    <div nz-col nzSm="24" nzXs="24" nzMd="24" nzLg="17" nzXl="18" nzXXl="18" class="report-content">
      <div class="report-action" align="center">
        <nz-dropdown>
          <button (click)="downloadReport()" nz-button nz-dropdown nzType="primary"><i class="anticon anticon-down"></i>Download</button>
          <ul nz-menu>
            <li nz-menu-item>
              <a>pdf</a>
            </li>
          </ul>
        </nz-dropdown>
      </div>

      <nz-divider></nz-divider>

      <div class="report">
        <app-report-render [reportId]="report_id"></app-report-render>
      </div>

      <nz-divider></nz-divider>

      <div class="comments-container">
        <div class="comments">

          <div class="comments-title">
            <p>Comments({{report?.commentsnum}})
          </div>

          <div *ngIf="isLogin" nz-row nzType="flex" nzAlign="top" class="input-comment">
            <div nz-col nzSpan="3">
              <a><nz-avatar nzSize="large" [nzSrc]="me?.avatar_url"></nz-avatar></a>
            </div>
            <div nz-col nzSpan="21">
              <form nz-form [formGroup]="commentForm" (ngSubmit)="submitForm()" >
                <nz-form-item>
                  <nz-form-control nzSpan="24">
                    <nz-input-group >
                      <textarea rows="4" nz-input formControlName="comment"></textarea>
                    </nz-input-group>
                    <nz-form-explain *ngIf="comment.dirty && (commentForm.errors || comment.pending)">
                      <ng-container *ngIf="comment.hasError('required')">
                        Please enter the group name!
                      </ng-container>
                      <ng-container *ngIf="comment.hasError('maxlength')">
                        too long(no more than 20 letters)!
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzSpan="24" class="submit-btn">
                    <button type="submit" nz-button [nzType]="'primary'"
                            [disabled]="!commentForm.valid">Post a comment</button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>

          <nz-divider></nz-divider>

          <div nz-row *ngFor="let comment of report_comments" class="every-comment">
            <div nz-col nzSpan="3">
              <a><nz-avatar nzSize="large" [nzSrc]="comment.user.avatar_url"></nz-avatar></a>
            </div>
            <div nz-col nzSpan="21">
              <a class="comment-user">{{comment.user.username}}</a>
              <span class="comments-date">&nbsp;&nbsp;&nbsp;{{comment.time | date: 'longDate'}}</span>
              <p class="comment-content">{{comment.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- left part-->
    <div nz-col nzSm="0" nzXs="0" nzMd="0" nzLg="7" nzXl="6" nzXXl="6">
      <nz-affix nzOffsetTop="45">
        <app-report-author-info [isMyself]="false" [user]="report?.author" [report]="report"></app-report-author-info>
      </nz-affix>
    </div>
  </div>
</div>
