<div class="subroutine" [@deletePanel]="subShow">
    <!-- 这里是 subroutine 的头部-->
    <div nz-row class="subroutineTitlePart" style="margin-bottom:0px;">
        <div nz-col [nzXl]="1" [nzLg]="1" [nzMd]="2" [nzSm]="2" id="LuckBox" (click)="reverseState()"></div> 
        <div nz-col [nzXl]="21" [nzLg]="21" [nzMd]="19" [nzSm]="19" class="subTitle" (click)="reverseState()">{{getTitle()}}</div>
        <div nz-col [nzXl]="2" [nzLg]="2" [nzMd]="3" [nzSm]="3" 
                id="deleteButton"  (click)="startDelete(sub)" *ngIf="type !== 'Info' && type !== 'Result'">Delete</div>
    </div>

    <div [ngSwitch]="type" style="margin-top: 3px;overflow: hidden;" [@subPanel]="subState">
      <div *ngSwitchCase="'Steps'" class="ABlockOfSub" >
        <!-- Steps -->
        <!-- <div *ngFor="let step of sub.steps"> -->
          <!-- <app-step-panel [step]="step"></app-step-panel> -->
        <!-- </div> -->

        <nz-collapse>
            <nz-collapse-panel *ngFor="let step of sub.steps" [nzHeader]="step.name" >
                <div nz-row>
                    <ng-container *ngFor="let fld of step.fields">
                      <ng-container [ngSwitch]="fld.attr[0]">
                        <div *ngSwitchCase="'@big'" nz-col nzSpan="24" class="field_class">
                          <app-editor-field-type [fld]="fld" [size]="'@big'"></app-editor-field-type>
                        </div>
                        <div *ngSwitchCase="'@mid'" nz-col nzSpan="24" class="field_class">
                          <app-editor-field-type [fld]="fld" [size]="'@mid'"></app-editor-field-type>
                        </div>
                        <div *ngSwitchCase="'@small'" nz-col [nzSpan]="smallWindows? 24 : 12" class="field_class">
                          <app-editor-field-type [fld]="fld" [size]="changeAttr()"></app-editor-field-type>
                        </div>
                        <div *ngSwitchDefault nz-col [nzSpan]="24" class="field_class">
                          <app-editor-field-type [fld]="fld" [size]="'@mid'"></app-editor-field-type>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
            </nz-collapse-panel>
          </nz-collapse>
      </div>

      <div *ngSwitchCase="'Info'" class="ABlockOfSub" >
          <!-- Info -->
          <app-info-panel #info></app-info-panel>
      </div>

      <div *ngSwitchCase="'Result'" class="ABlockOfSub" >
          <!-- Result -->
          <app-remark-panel #result></app-remark-panel>
      </div>

      <!-- <div *ngSwitchCase="'Text'" class="ABlockOfSub" > -->
          <!-- Texts -->
          <!-- <app-text-panel [sub]="sub"></app-text-panel> -->
      <!-- </div> -->

      <div *ngSwitchCase="'Pictures'" class="ABlockOfSub" >
          <!-- Pictures -->
          <app-pict-panel [ret]="sub"></app-pict-panel>
      </div>

      <div *ngSwitchCase="'List'" class="ABlockOfSub" >
          <!-- Lists -->
          <app-list-panel [ret]="sub"></app-list-panel>
      </div>

      <div *ngSwitchCase="'Table'" class="ABlockOfSub" >
        <!-- Lists -->
        <app-table-panel [ret]="sub"></app-table-panel>
    </div>

      <!-- <div *ngSwitchCase="'Result'" class="ABlockOfSub" > -->
        <!-- Lists -->
        <!-- <app-remark-panel [sub]="sub" #result></app-remark-panel> -->
      <!-- </div> -->
    </div>
    <!-- 下面是各个部分 -->
</div>