
<div nz-row class="sign-in" align="center">
  <!-- panda -->

    <!-- input form -->
  <div nz-col  class="form">

    <div nz-row>
      <div class="panda" nz-col nzOffset="7" nzSpan="10">
        <app-panda [shake]="shake" ></app-panda>
      </div>
    </div>

    <div nz-row class="sign-in-form">
      <div nz-col nzOffset="4" nzSpan="16" align="center">
        <p class="sign-in-title" >Sign In to BioHub</p>
      </div>

      <form  nz-form nzLayout="vertical" [formGroup]="validateForm"
             class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item >
          <nz-form-control  nzOffset="1" nzSpan="22" nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input (focus)="startShake()" (blur)="stopShake()"
                     type="text" nzSize="small" nz-input formControlName="username" placeholder="Username or e-mail">
            </nz-input-group>
            <nz-form-explain *ngIf="username.dirty && username.errors || username.pending ">
              <ng-container *ngIf="username.hasError('required')">
                Please enter your username or e-mail!
              </ng-container>
              <ng-container *ngIf="username.hasError('minlength')">
                too short (minimum is 4 characters)!
              </ng-container>
              <ng-container *ngIf="username.hasError('maxlength')">
                too long (maximum is 20 characters)!
              </ng-container>
              <ng-container *ngIf="username.hasError('forbiddenName')">
                Username is invalid!
              </ng-container>
              <ng-container *ngIf="username.hasError('forbiddenEmail')">
                Email is invalid!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzOffset="1" nzSpan="22" nzHasFeedback>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input (focus)="startShake()" (blur)="stopShake()"
                     type="password" nzSize="small" nz-input formControlName="password" placeholder="Password">
            </nz-input-group>
            <nz-form-explain *ngIf="password.dirty && password.errors || password.pending ">
              <ng-container *ngIf="password.hasError('required')">
                Please enter password!
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzOffset="1" nzSpan="22">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
            <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
            <button type="submit" nz-button class="login-form-button" [nzType]="'primary'" [disabled]="!validateForm.valid">Log in</button>
            <div class="form-bottom">
              <span style="font-size: 13px">New to Hub?</span>
              <a href="" class="create-new-account">Create an account!</a>
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

  </div>
</div>
